server/Mocks/Search People PRODUCTION.blueprint.json
{
  "name": "Search People PRODUCTION",
  "flow": [
    {
      "id": 1,
      "module": "scenario-service:StartSubscenario",
      "version": 2,
      "metadata": {
        "designer": {
          "x": 0,
          "y": 150
        },
        "restore": {},
        "interface": [
          {
            "help": "An Airtable formula used to filter records. The formula will be evaluated for each record, and if the result is not `0`, `false`, `\"\"`, `NaN`, `[]`, or `#Error!` the record will be included in the response. You can find more information about the formula on [Airtable's website](https://support.airtable.com/hc/en-us/articles/203255215-Formula-Field-Reference).\nFor example, to only include records where `Name` isn't empty, pass in: `NOT({Name} = '')`",
            "name": "formula",
            "type": "text",
            "label": "Formula",
            "default": "",
            "required": false,
            "multiline": false
          },
          {
            "help": "The maximum number of records to return.",
            "name": "maxRecords",
            "type": "integer",
            "label": "Limit",
            "default": null,
            "required": false
          },
          {
            "help": "",
            "name": "user_phone",
            "type": "text",
            "label": "",
            "default": "",
            "required": false,
            "multiline": false
          },
          {
            "help": "",
            "name": "name",
            "type": "text",
            "label": "",
            "default": "",
            "required": false,
            "multiline": false
          }
        ]
      }
    },
    {
      "id": 5,
      "module": "airtable:ActionSearchRecords",
      "version": 3,
      "parameters": {
        "__IMTCONN__": 4535991
      },
      "mapper": {
        "base": "appLjIhgKjM9u4v2O",
        "table": "tbluhWeNrRcoallwq",
        "fields": [
          "Name",
          "Phone Number",
          "Email",
          "Birthday",
          "Notes",
          "The World",
          "User Person Links",
          "Record ID"
        ],
        "formula": "{Phone Number} = {{parseNumber(1.user_phone)}}",
        "maxRecords": "10",
        "useColumnId": false
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 150
        },
        "restore": {
          "expect": {
            "base": {
              "mode": "chose",
              "label": "Greg"
            },
            "sort": {
              "mode": "chose"
            },
            "view": {
              "mode": "chose"
            },
            "table": {
              "mode": "chose",
              "label": "Users"
            },
            "fields": {
              "mode": "chose",
              "label": [
                "Name",
                "Phone Number",
                "Email",
                "Birthday",
                "Notes",
                "The World",
                "User Person Links",
                "Record ID"
              ]
            },
            "useColumnId": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "airtable3"
              },
              "label": "My Airtable OAuth connection (User ID: usr2CmsjPb1wwCue5)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "base",
            "type": "select",
            "label": "Base",
            "required": true
          },
          {
            "name": "useColumnId",
            "type": "boolean",
            "label": "Use Column ID",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          },
          {
            "name": "formula",
            "type": "text",
            "label": "Formula"
          },
          {
            "name": "maxRecords",
            "type": "integer",
            "label": "Limit"
          },
          {
            "name": "sort",
            "spec": [
              {
                "name": "field",
                "type": "select",
                "label": "Field",
                "dynamic": true,
                "options": []
              },
              {
                "name": "direction",
                "type": "select",
                "label": "Direction",
                "options": [
                  {
                    "label": "Descending",
                    "value": "desc"
                  },
                  {
                    "label": "Ascending",
                    "value": "asc"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Sort"
          },
          {
            "name": "view",
            "type": "select",
            "label": "View"
          },
          {
            "name": "fields",
            "type": "select",
            "label": "Output Fields",
            "multiple": true
          }
        ],
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "createdTime",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "Name",
            "type": "text",
            "label": "Name"
          },
          {
            "name": "Phone Number",
            "type": "text",
            "label": "Phone Number"
          },
          {
            "name": "Email",
            "type": "text",
            "label": "Email"
          },
          {
            "name": "Birthday",
            "time": false,
            "type": "date",
            "label": "Birthday"
          },
          {
            "name": "Notes",
            "type": "text",
            "label": "Notes",
            "multiline": true
          },
          {
            "name": "The World",
            "spec": {
              "label": "Record ID"
            },
            "type": "array",
            "label": "The World"
          },
          {
            "name": "User Person Links",
            "spec": {
              "label": "Record ID"
            },
            "type": "array",
            "label": "User Person Links"
          },
          {
            "name": "Record ID",
            "type": "text",
            "label": "Record ID"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "airtable:ActionSearchRecords",
      "version": 3,
      "parameters": {
        "__IMTCONN__": 4535991
      },
      "mapper": {
        "base": "appLjIhgKjM9u4v2O",
        "table": "tblrmCADPpnj843Q4",
        "fields": [
          "Link",
          "User",
          "Record ID (from User)",
          "Person",
          "Name (from Person)",
          "Phone Number (from Person)",
          "Email (from Person)",
          "Birthday (from Person)",
          "Notes",
          "Record ID (from Person)"
        ],
        "formula": "AND(\n  FIND(\"{{5.`Record ID`}}\", {Link}) > 0,\n  SEARCH(\n    LOWER(\"{{1.name}}\"),\n    LOWER(ARRAYJOIN({Name (From Person)}, \"\"))\n  ) > 0\n)",
        "maxRecords": "{{length(5.`User Person Links`)}}",
        "useColumnId": false
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 150
        },
        "restore": {
          "expect": {
            "base": {
              "mode": "chose",
              "label": "Greg"
            },
            "sort": {
              "mode": "chose"
            },
            "view": {
              "mode": "chose"
            },
            "table": {
              "mode": "chose",
              "label": "User World Links"
            },
            "fields": {
              "mode": "chose",
              "label": [
                "Link",
                "User",
                "Record ID (from User)",
                "Person",
                "Name (from Person)",
                "Phone Number (from Person)",
                "Email (from Person)",
                "Birthday (from Person)",
                "Notes",
                "Record ID (from Person)"
              ]
            },
            "useColumnId": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "airtable3"
              },
              "label": "My Airtable OAuth connection (User ID: usr2CmsjPb1wwCue5)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "base",
            "type": "select",
            "label": "Base",
            "required": true
          },
          {
            "name": "useColumnId",
            "type": "boolean",
            "label": "Use Column ID",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          },
          {
            "name": "formula",
            "type": "text",
            "label": "Formula"
          },
          {
            "name": "maxRecords",
            "type": "integer",
            "label": "Limit"
          },
          {
            "name": "sort",
            "spec": [
              {
                "name": "field",
                "type": "select",
                "label": "Field",
                "dynamic": true,
                "options": []
              },
              {
                "name": "direction",
                "type": "select",
                "label": "Direction",
                "options": [
                  {
                    "label": "Descending",
                    "value": "desc"
                  },
                  {
                    "label": "Ascending",
                    "value": "asc"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Sort"
          },
          {
            "name": "view",
            "type": "select",
            "label": "View"
          },
          {
            "name": "fields",
            "type": "select",
            "label": "Output Fields",
            "multiple": true
          }
        ],
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "createdTime",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "Link",
            "type": "text",
            "label": "Link"
          },
          {
            "name": "User",
            "spec": {
              "label": "Record ID"
            },
            "type": "array",
            "label": "User"
          },
          {
            "name": "Record ID (from User)",
            "type": "array",
            "label": "Record ID (from User)"
          },
          {
            "name": "Person",
            "spec": {
              "label": "Record ID"
            },
            "type": "array",
            "label": "Person"
          },
          {
            "name": "Name (from Person)",
            "type": "array",
            "label": "Name (from Person)"
          },
          {
            "name": "Phone Number (from Person)",
            "type": "array",
            "label": "Phone Number (from Person)"
          },
          {
            "name": "Email (from Person)",
            "type": "array",
            "label": "Email (from Person)"
          },
          {
            "name": "Birthday (from Person)",
            "type": "array",
            "label": "Birthday (from Person)"
          },
          {
            "name": "Notes",
            "type": "text",
            "label": "Notes",
            "multiline": true
          },
          {
            "name": "Record ID (from Person)",
            "type": "array",
            "label": "Record ID (from Person)"
          }
        ]
      }
    },
    {
      "id": 6,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 900,
          "y": 150
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 7,
              "module": "airtable:ActionCreateRecord",
              "version": 3,
              "parameters": {
                "__IMTCONN__": 4535991
              },
              "filter": {
                "name": "",
                "conditions": [
                  [
                    {
                      "a": "{{2.`__IMTLENGTH__`}}",
                      "b": "0",
                      "o": "number:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "base": "appLjIhgKjM9u4v2O",
                "table": "tbl6LLfJQizB0S05K",
                "record": {
                  "fldPNYCNDTKlEo7zh": "{{1.name}}",
                  "fldqDzeUbnFzNHsHI": ["{{5.id}}"]
                },
                "typecast": false,
                "useColumnId": false
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 0
                },
                "restore": {
                  "expect": {
                    "base": {
                      "label": "Greg"
                    },
                    "table": {
                      "label": "People",
                      "nested": [
                        {
                          "name": "record",
                          "spec": [
                            {
                              "name": "fldPNYCNDTKlEo7zh",
                              "type": "text",
                              "label": "Name"
                            },
                            {
                              "name": "fldMbsU9rjpKHIQx3",
                              "type": "text",
                              "label": "Phone Number"
                            },
                            {
                              "name": "fldxt6Ae3Yiw76h1S",
                              "type": "text",
                              "label": "Email"
                            },
                            {
                              "name": "fldqDzeUbnFzNHsHI",
                              "spec": {
                                "label": "Record ID"
                              },
                              "type": "array",
                              "label": "User Link"
                            },
                            {
                              "name": "fldLvRuFrxcqcJdIJ",
                              "time": false,
                              "type": "date",
                              "label": "Birthday"
                            },
                            {
                              "name": "flduepkZkAzr4Z9W6",
                              "spec": {
                                "label": "Record ID"
                              },
                              "type": "array",
                              "label": "User Person Links"
                            }
                          ],
                          "type": "collection",
                          "label": "Record"
                        }
                      ]
                    },
                    "record": {
                      "nested": {
                        "fldqDzeUbnFzNHsHI": {
                          "mode": "chose",
                          "items": [null]
                        },
                        "flduepkZkAzr4Z9W6": {
                          "mode": "chose"
                        }
                      }
                    },
                    "typecast": {
                      "mode": "chose"
                    },
                    "useColumnId": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "airtable3"
                      },
                      "label": "My Airtable OAuth connection (User ID: usr2CmsjPb1wwCue5)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "typecast",
                    "type": "boolean",
                    "label": "Smart links",
                    "required": true
                  },
                  {
                    "name": "useColumnId",
                    "type": "boolean",
                    "label": "Use Column ID",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "record",
                    "spec": [
                      {
                        "name": "fldPNYCNDTKlEo7zh",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "fldMbsU9rjpKHIQx3",
                        "type": "text",
                        "label": "Phone Number"
                      },
                      {
                        "name": "fldxt6Ae3Yiw76h1S",
                        "type": "text",
                        "label": "Email"
                      },
                      {
                        "name": "fldqDzeUbnFzNHsHI",
                        "spec": {
                          "name": "value",
                          "label": "Record ID"
                        },
                        "type": "array",
                        "label": "User Link"
                      },
                      {
                        "name": "fldLvRuFrxcqcJdIJ",
                        "time": false,
                        "type": "date",
                        "label": "Birthday"
                      },
                      {
                        "name": "flduepkZkAzr4Z9W6",
                        "spec": {
                          "name": "value",
                          "label": "Record ID"
                        },
                        "type": "array",
                        "label": "User Person Links"
                      }
                    ],
                    "type": "collection",
                    "label": "Record"
                  }
                ],
                "interface": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "createdTime",
                    "type": "date",
                    "label": "Created Time"
                  },
                  {
                    "name": "Name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "Phone Number",
                    "type": "text",
                    "label": "Phone Number"
                  },
                  {
                    "name": "Email",
                    "type": "text",
                    "label": "Email"
                  },
                  {
                    "name": "User Link",
                    "spec": {
                      "label": "Record ID"
                    },
                    "type": "array",
                    "label": "User Link"
                  },
                  {
                    "name": "Birthday",
                    "time": false,
                    "type": "date",
                    "label": "Birthday"
                  },
                  {
                    "name": "User Person Links",
                    "spec": {
                      "label": "Record ID"
                    },
                    "type": "array",
                    "label": "User Person Links"
                  },
                  {
                    "name": "Record ID",
                    "type": "text",
                    "label": "Record ID"
                  }
                ]
              }
            },
            {
              "id": 8,
              "module": "airtable:ActionCreateRecord",
              "version": 3,
              "parameters": {
                "__IMTCONN__": 4535991
              },
              "mapper": {
                "base": "appLjIhgKjM9u4v2O",
                "table": "tblrmCADPpnj843Q4",
                "record": {
                  "fld0H5lNM34ni5qPS": ["{{7.id}}"],
                  "fldTxVyO4koiHtguG": "{{1.notes}}",
                  "fldX6HzXLL5QmCTxh": ["{{5.id}}"]
                },
                "typecast": false,
                "useColumnId": false
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 0
                },
                "restore": {
                  "expect": {
                    "base": {
                      "label": "Greg"
                    },
                    "table": {
                      "label": "User World Links",
                      "nested": [
                        {
                          "name": "record",
                          "spec": [
                            {
                              "name": "fldX6HzXLL5QmCTxh",
                              "spec": {
                                "label": "Record ID"
                              },
                              "type": "array",
                              "label": "User"
                            },
                            {
                              "name": "fld0H5lNM34ni5qPS",
                              "spec": {
                                "label": "Record ID"
                              },
                              "type": "array",
                              "label": "Person"
                            },
                            {
                              "name": "fldTxVyO4koiHtguG",
                              "type": "text",
                              "label": "Notes",
                              "multiline": true
                            }
                          ],
                          "type": "collection",
                          "label": "Record"
                        }
                      ]
                    },
                    "record": {
                      "nested": {
                        "fld0H5lNM34ni5qPS": {
                          "mode": "chose",
                          "items": [null]
                        },
                        "fldX6HzXLL5QmCTxh": {
                          "mode": "chose",
                          "items": [null]
                        }
                      }
                    },
                    "typecast": {
                      "mode": "chose"
                    },
                    "useColumnId": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "airtable3"
                      },
                      "label": "My Airtable OAuth connection (User ID: usr2CmsjPb1wwCue5)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:airtable3,airtable2",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "base",
                    "type": "select",
                    "label": "Base",
                    "required": true
                  },
                  {
                    "name": "typecast",
                    "type": "boolean",
                    "label": "Smart links",
                    "required": true
                  },
                  {
                    "name": "useColumnId",
                    "type": "boolean",
                    "label": "Use Column ID",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "record",
                    "spec": [
                      {
                        "name": "fldX6HzXLL5QmCTxh",
                        "spec": {
                          "name": "value",
                          "label": "Record ID"
                        },
                        "type": "array",
                        "label": "User"
                      },
                      {
                        "name": "fld0H5lNM34ni5qPS",
                        "spec": {
                          "name": "value",
                          "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Person"
                      },
                      {
                        "name": "fldTxVyO4koiHtguG",
                        "type": "text",
                        "label": "Notes"
                      }
                    ],
                    "type": "collection",
                    "label": "Record"
                  }
                ],
                "interface": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "createdTime",
                    "type": "date",
                    "label": "Created Time"
                  },
                  {
                    "name": "Link",
                    "type": "text",
                    "label": "Link"
                  },
                  {
                    "name": "User",
                    "spec": {
                      "label": "Record ID"
                    },
                    "type": "array",
                    "label": "User"
                  },
                  {
                    "name": "Record ID (from User)",
                    "type": "array",
                    "label": "Record ID (from User)"
                  },
                  {
                    "name": "Person",
                    "spec": {
                      "label": "Record ID"
                    },
                    "type": "array",
                    "label": "Person"
                  },
                  {
                    "name": "Name (from Person)",
                    "type": "array",
                    "label": "Name (from Person)"
                  },
                  {
                    "name": "Phone Number (from Person)",
                    "type": "array",
                    "label": "Phone Number (from Person)"
                  },
                  {
                    "name": "Email (from Person)",
                    "type": "array",
                    "label": "Email (from Person)"
                  },
                  {
                    "name": "Birthday (from Person)",
                    "type": "array",
                    "label": "Birthday (from Person)"
                  },
                  {
                    "name": "Notes",
                    "type": "text",
                    "label": "Notes",
                    "multiline": true
                  },
                  {
                    "name": "Record ID (from Person)",
                    "type": "array",
                    "label": "Record ID (from Person)"
                  }
                ]
              }
            },
            {
              "id": 9,
              "module": "util:SetVariable2",
              "version": 1,
              "parameters": {},
              "mapper": {
                "name": "person",
                "scope": "roundtrip",
                "value": "{{`8`}}"
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 0
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": ["roundtrip", "execution"]
                    }
                  },
                  {
                    "name": "value",
                    "type": "any",
                    "label": "Variable value"
                  }
                ],
                "interface": [
                  {
                    "name": "person",
                    "type": "any",
                    "label": "person"
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 3,
              "module": "builtin:BasicAggregator",
              "version": 1,
              "parameters": {
                "feeder": 2
              },
              "mapper": {
                "id": "{{2.id}}",
                "Link": "{{2.Link}}",
                "User": "{{2.User}}",
                "Notes": "{{2.Notes}}",
                "Person": "{{2.Person}}",
                "createdTime": "{{2.createdTime}}",
                "__IMTINDEX__": "{{2.`__IMTINDEX__`}}",
                "__IMTLENGTH__": "{{2.`__IMTLENGTH__`}}",
                "Name (from Person)": "{{2.`Name (from Person)`}}",
                "Email (from Person)": "{{2.`Email (from Person)`}}",
                "Record ID (from User)": "{{2.`Record ID (from User)`}}",
                "Birthday (from Person)": "{{2.`Birthday (from Person)`}}",
                "Record ID (from Person)": "{{2.`Record ID (from Person)`}}",
                "Phone Number (from Person)": "{{2.`Phone Number (from Person)`}}"
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 300
                },
                "restore": {
                  "extra": {
                    "feeder": {
                      "label": "Airtable - Search Records [2]"
                    },
                    "target": {
                      "label": "Custom"
                    }
                  }
                }
              }
            },
            {
              "id": 10,
              "module": "util:GetVariable2",
              "version": 1,
              "parameters": {},
              "mapper": {
                "name": "person"
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 300
                },
                "restore": {},
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  }
                ],
                "interface": [
                  {
                    "name": "person",
                    "type": "any",
                    "label": "person"
                  }
                ]
              }
            },
            {
              "id": 4,
              "module": "scenario-service:ReturnData",
              "version": 2,
              "parameters": {},
              "mapper": {
                "tool_output": "{{ifempty(10.person; 3.array)}}"
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 300
                },
                "restore": {},
                "expect": [
                  {
                    "name": "tool_output",
                    "type": "dynamicCollection",
                    "label": ""
                  }
                ]
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com",
    "notes": []
  },
  "io": {
    "input_spec": [
      {
        "help": "An Airtable formula used to filter records. The formula will be evaluated for each record, and if the result is not `0`, `false`, `\"\"`, `NaN`, `[]`, or `#Error!` the record will be included in the response. You can find more information about the formula on [Airtable's website](https://support.airtable.com/hc/en-us/articles/203255215-Formula-Field-Reference).\nFor example, to only include records where `Name` isn't empty, pass in: `NOT({Name} = '')`",
        "name": "formula",
        "type": "text",
        "label": "Formula",
        "default": "",
        "required": false,
        "multiline": false
      },
      {
        "help": "The maximum number of records to return.",
        "name": "maxRecords",
        "type": "integer",
        "label": "Limit",
        "default": null,
        "required": false
      },
      {
        "help": "",
        "name": "user_phone",
        "type": "text",
        "label": "",
        "default": "",
        "required": false,
        "multiline": false
      },
      {
        "help": "",
        "name": "name",
        "type": "text",
        "label": "",
        "default": "",
        "required": false,
        "multiline": false
      }
    ],
    "output_spec": [
      {
        "help": "",
        "name": "tool_output",
        "type": "dynamicCollection",
        "label": "",
        "default": "",
        "required": false
      }
    ]
  }
}
