server/Mocks/Search People SANDBOX.blueprint.json
{
  "name": "Integration Airtable, Google Sheets OK!",
  "flow": [
    {
      "id": 6,
      "module": "airtable:ActionSearchRecords",
      "version": 3,
      "parameters": {
        "__IMTCONN__": 4535991
      },
      "mapper": {
        "base": "appLjIhgKjM9u4v2O",
        "useColumnId": false,
        "table": "tbluhWeNrRcoallwq",
        "maxRecords": "1"
      },
      "metadata": {
        "designer": {
          "x": -423,
          "y": 479,
          "name": "Search All Users"
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "label": "My Airtable OAuth connection (User ID: usr2CmsjPb1wwCue5)",
              "data": {
                "scoped": "true",
                "connection": "airtable3"
              }
            }
          },
          "expect": {
            "base": {
              "mode": "chose",
              "label": "Greg"
            },
            "useColumnId": {
              "mode": "chose"
            },
            "table": {
              "mode": "chose",
              "label": "Users"
            },
            "sort": {
              "mode": "chose"
            },
            "view": {
              "mode": "chose"
            },
            "fields": {
              "mode": "chose"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "base",
            "type": "select",
            "label": "Base",
            "required": true
          },
          {
            "name": "useColumnId",
            "type": "boolean",
            "label": "Use Column ID",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          },
          {
            "name": "formula",
            "type": "text",
            "label": "Formula"
          },
          {
            "name": "maxRecords",
            "type": "integer",
            "label": "Limit"
          },
          {
            "name": "sort",
            "type": "array",
            "label": "Sort",
            "spec": [
              {
                "name": "field",
                "type": "select",
                "label": "Field",
                "options": [],
                "dynamic": true
              },
              {
                "name": "direction",
                "type": "select",
                "label": "Direction",
                "options": [
                  {
                    "label": "Descending",
                    "value": "desc"
                  },
                  {
                    "label": "Ascending",
                    "value": "asc"
                  }
                ]
              }
            ]
          },
          {
            "name": "view",
            "type": "select",
            "label": "View"
          },
          {
            "name": "fields",
            "type": "select",
            "label": "Output Fields",
            "multiple": true
          },
          {
            "name": "base",
            "type": "select",
            "label": "Base",
            "required": true
          },
          {
            "name": "useColumnId",
            "type": "boolean",
            "label": "Use Column ID",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          },
          {
            "name": "formula",
            "type": "text",
            "label": "Formula"
          },
          {
            "name": "maxRecords",
            "type": "integer",
            "label": "Limit"
          },
          {
            "name": "sort",
            "type": "array",
            "label": "Sort",
            "spec": [
              {
                "name": "field",
                "type": "select",
                "label": "Field",
                "options": [],
                "dynamic": true
              },
              {
                "name": "direction",
                "type": "select",
                "label": "Direction",
                "options": [
                  {
                    "label": "Descending",
                    "value": "desc"
                  },
                  {
                    "label": "Ascending",
                    "value": "asc"
                  }
                ]
              }
            ]
          },
          {
            "name": "view",
            "type": "select",
            "label": "View"
          },
          {
            "name": "fields",
            "type": "select",
            "label": "Output Fields",
            "multiple": true
          }
        ],
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "label": "Total number of bundles",
            "type": "uinteger"
          },
          {
            "name": "__IMTINDEX__",
            "label": "Bundle order position",
            "type": "uinteger"
          },
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "createdTime",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "Name",
            "label": "Name",
            "type": "text"
          },
          {
            "name": "Phone Number",
            "label": "Phone Number",
            "type": "text"
          },
          {
            "name": "Email",
            "label": "Email",
            "type": "text"
          },
          {
            "name": "Birthday",
            "label": "Birthday",
            "type": "date",
            "time": false
          },
          {
            "name": "Notes",
            "label": "Notes",
            "type": "text",
            "multiline": true
          },
          {
            "name": "The World",
            "label": "The World",
            "type": "array",
            "spec": {
              "label": "Record ID"
            }
          },
          {
            "name": "User Person Links",
            "label": "User Person Links",
            "type": "array",
            "spec": {
              "label": "Record ID"
            }
          },
          {
            "name": "Record ID",
            "label": "Record ID",
            "type": "text"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 2491199
      },
      "mapper": {
        "mode": "select",
        "insertUnformatted": false,
        "valueInputOption": "USER_ENTERED",
        "insertDataOption": "INSERT_ROWS",
        "from": "drive",
        "spreadsheetId": "/1TKMG5ySdOVeCWIT-8H5mATcZDMIvLrjV/1dNcLA8BsQ-0NMtbiH7abA60sYv0d5i242Bxjt5os9Ac",
        "sheetId": "Sheet1",
        "includesHeaders": true,
        "values": {
          "0": "{{6.id}}",
          "1": "{{6.createdTime}}",
          "2": "{{6.Name}}"
        }
      },
      "metadata": {
        "designer": {
          "x": 27,
          "y": 485,
          "name": "Add User to GSheets"
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "label": "My Google connection (davidsmolen@gmail.com)",
              "data": {
                "scoped": "true",
                "connection": "google"
              }
            }
          },
          "expect": {
            "mode": {
              "label": "Search by path"
            },
            "insertUnformatted": {
              "mode": "chose"
            },
            "valueInputOption": {
              "mode": "chose",
              "label": "User entered"
            },
            "insertDataOption": {
              "mode": "chose",
              "label": "Insert rows"
            },
            "from": {
              "label": "My Drive"
            },
            "spreadsheetId": {
              "path": ["Diff test", "Test"]
            },
            "sheetId": {
              "label": "Sheet1"
            },
            "includesHeaders": {
              "nested": [
                {
                  "name": "values",
                  "label": "Values",
                  "type": "collection",
                  "spec": [
                    {
                      "name": "0",
                      "label": "A",
                      "type": "text"
                    },
                    {
                      "name": "1",
                      "label": "B",
                      "type": "text"
                    },
                    {
                      "name": "2",
                      "label": "C",
                      "type": "text"
                    },
                    {
                      "name": "3",
                      "label": "D",
                      "type": "text"
                    },
                    {
                      "name": "4",
                      "label": "E",
                      "type": "text"
                    },
                    {
                      "name": "5",
                      "label": "F",
                      "type": "text"
                    },
                    {
                      "name": "6",
                      "label": "G",
                      "type": "text"
                    },
                    {
                      "name": "7",
                      "label": "H",
                      "type": "text"
                    },
                    {
                      "name": "8",
                      "label": "I",
                      "type": "text"
                    },
                    {
                      "name": "9",
                      "label": "J",
                      "type": "text"
                    },
                    {
                      "name": "10",
                      "label": "K",
                      "type": "text"
                    },
                    {
                      "name": "11",
                      "label": "L",
                      "type": "text"
                    },
                    {
                      "name": "12",
                      "label": "M",
                      "type": "text"
                    },
                    {
                      "name": "13",
                      "label": "N",
                      "type": "text"
                    },
                    {
                      "name": "14",
                      "label": "O",
                      "type": "text"
                    },
                    {
                      "name": "15",
                      "label": "P",
                      "type": "text"
                    },
                    {
                      "name": "16",
                      "label": "Q",
                      "type": "text"
                    },
                    {
                      "name": "17",
                      "label": "R",
                      "type": "text"
                    },
                    {
                      "name": "18",
                      "label": "S",
                      "type": "text"
                    },
                    {
                      "name": "19",
                      "label": "T",
                      "type": "text"
                    },
                    {
                      "name": "20",
                      "label": "U",
                      "type": "text"
                    },
                    {
                      "name": "21",
                      "label": "V",
                      "type": "text"
                    },
                    {
                      "name": "22",
                      "label": "W",
                      "type": "text"
                    },
                    {
                      "name": "23",
                      "label": "X",
                      "type": "text"
                    },
                    {
                      "name": "24",
                      "label": "Y",
                      "type": "text"
                    },
                    {
                      "name": "25",
                      "label": "Z",
                      "type": "text"
                    }
                  ]
                }
              ],
              "label": "Yes"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "mode",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": ["select", "fromAll", "map"]
            }
          },
          {
            "name": "insertUnformatted",
            "type": "boolean",
            "label": "Unformatted",
            "required": true
          },
          {
            "name": "valueInputOption",
            "type": "select",
            "label": "Value input option",
            "validate": {
              "enum": ["USER_ENTERED", "RAW"]
            }
          },
          {
            "name": "insertDataOption",
            "type": "select",
            "label": "Insert data option",
            "validate": {
              "enum": ["INSERT_ROWS", "OVERWRITE"]
            }
          },
          {
            "name": "from",
            "type": "select",
            "label": "Drive",
            "required": true,
            "validate": {
              "enum": ["drive", "share", "team"]
            }
          },
          {
            "name": "spreadsheetId",
            "type": "file",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [true, false]
            }
          },
          {
            "name": "values",
            "type": "collection",
            "label": "Values",
            "spec": [
              {
                "name": "0",
                "type": "text",
                "label": "A"
              },
              {
                "name": "1",
                "type": "text",
                "label": "B"
              },
              {
                "name": "2",
                "type": "text",
                "label": "C"
              },
              {
                "name": "3",
                "type": "text",
                "label": "D"
              },
              {
                "name": "4",
                "type": "text",
                "label": "E"
              },
              {
                "name": "5",
                "type": "text",
                "label": "F"
              },
              {
                "name": "6",
                "type": "text",
                "label": "G"
              },
              {
                "name": "7",
                "type": "text",
                "label": "H"
              },
              {
                "name": "8",
                "type": "text",
                "label": "I"
              },
              {
                "name": "9",
                "type": "text",
                "label": "J"
              },
              {
                "name": "10",
                "type": "text",
                "label": "K"
              },
              {
                "name": "11",
                "type": "text",
                "label": "L"
              },
              {
                "name": "12",
                "type": "text",
                "label": "M"
              },
              {
                "name": "13",
                "type": "text",
                "label": "N"
              },
              {
                "name": "14",
                "type": "text",
                "label": "O"
              },
              {
                "name": "15",
                "type": "text",
                "label": "P"
              },
              {
                "name": "16",
                "type": "text",
                "label": "Q"
              },
              {
                "name": "17",
                "type": "text",
                "label": "R"
              },
              {
                "name": "18",
                "type": "text",
                "label": "S"
              },
              {
                "name": "19",
                "type": "text",
                "label": "T"
              },
              {
                "name": "20",
                "type": "text",
                "label": "U"
              },
              {
                "name": "21",
                "type": "text",
                "label": "V"
              },
              {
                "name": "22",
                "type": "text",
                "label": "W"
              },
              {
                "name": "23",
                "type": "text",
                "label": "X"
              },
              {
                "name": "24",
                "type": "text",
                "label": "Y"
              },
              {
                "name": "25",
                "type": "text",
                "label": "Z"
              }
            ]
          }
        ]
      }
    },
    {
      "id": 8,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {
        "else": 1
      },
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 384,
          "y": 421,
          "name": "Which Way?"
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 5,
              "module": "google-drive:renameAFolder",
              "version": 4,
              "filter": {
                "name": "Updated Range = 3",
                "conditions": [
                  [
                    {
                      "a": "{{2.updates.updatedRange}}",
                      "o": "array:greaterorequal",
                      "b": "3"
                    },
                    {
                      "a": "{{6.id}}",
                      "o": "text:notcontain",
                      "b": "3"
                    }
                  ],
                  [
                    {
                      "a": "{{6.Birthday}}",
                      "o": "text:equal",
                      "b": "5"
                    }
                  ]
                ]
              },
              "metadata": {
                "designer": {
                  "x": 683,
                  "y": 164,
                  "name": "Rename Folderszzz"
                }
              }
            },
            {
              "id": 9,
              "module": "util:SetVariable2",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "true?",
                "conditions": [
                  [
                    {
                      "a": "{{5.starred}}",
                      "o": "text:equal",
                      "b": "true"
                    }
                  ]
                ]
              },
              "mapper": {
                "name": "test",
                "scope": "roundtrip",
                "value": "{{5.kind}}"
              },
              "metadata": {
                "designer": {
                  "x": 983,
                  "y": 164,
                  "name": "SET test"
                },
                "restore": {
                  "expect": {
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Variable name",
                    "required": true
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": ["roundtrip", "execution"]
                    }
                  },
                  {
                    "name": "value",
                    "type": "any",
                    "label": "Variable value"
                  }
                ],
                "interface": [
                  {
                    "name": "test",
                    "label": "test",
                    "type": "any"
                  }
                ]
              }
            },
            {
              "id": 10,
              "module": "builtin:BasicRouter",
              "version": 1,
              "parameters": {
                "else": 1
              },
              "mapper": null,
              "metadata": {
                "designer": {
                  "x": 1287,
                  "y": 158
                }
              },
              "routes": [
                {
                  "flow": [
                    {
                      "id": 11,
                      "module": "http:DownloadFile",
                      "version": 4,
                      "parameters": {
                        "authenticationType": "noAuth"
                      },
                      "mapper": {
                        "url": "{{5.lastModifyingUser.emailAddress}}",
                        "stopOnHttpError": true,
                        "shareCookies": false
                      },
                      "metadata": {
                        "designer": {
                          "x": 1564,
                          "y": -52,
                          "name": "GET File"
                        },
                        "restore": {
                          "parameters": {
                            "authenticationType": {
                              "label": "No authenticationUse when no credentials are required for the request."
                            }
                          },
                          "expect": {
                            "stopOnHttpError": {
                              "mode": "chose"
                            },
                            "shareCookies": {
                              "mode": "chose"
                            },
                            "headers": {
                              "mode": "chose"
                            },
                            "queryParameters": {
                              "mode": "chose"
                            }
                          }
                        },
                        "parameters": [
                          {
                            "name": "authenticationType",
                            "type": "select",
                            "label": "Authentication type",
                            "required": true,
                            "validate": {
                              "enum": ["noAuth", "apiKey", "basicAuth", "oAuth"]
                            }
                          }
                        ],
                        "expect": [
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL",
                            "required": true
                          },
                          {
                            "name": "stopOnHttpError",
                            "type": "boolean",
                            "label": "Return error if HTTP request fails",
                            "required": true
                          },
                          {
                            "name": "shareCookies",
                            "type": "boolean",
                            "label": "Share cookies with other HTTP modules",
                            "required": true
                          },
                          {
                            "name": "headers",
                            "type": "array",
                            "label": "Headers",
                            "spec": {
                              "name": "value",
                              "label": "Header",
                              "type": "collection",
                              "spec": [
                                {
                                  "name": "name",
                                  "label": "Name",
                                  "type": "text",
                                  "required": true,
                                  "validate": {
                                    "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                  }
                                },
                                {
                                  "name": "value",
                                  "label": "Value",
                                  "type": "text"
                                }
                              ]
                            }
                          },
                          {
                            "name": "queryParameters",
                            "type": "array",
                            "label": "Query parameters",
                            "spec": {
                              "name": "value",
                              "label": "Parameter",
                              "type": "collection",
                              "spec": [
                                {
                                  "name": "name",
                                  "label": "Name",
                                  "type": "text",
                                  "required": true
                                },
                                {
                                  "name": "value",
                                  "label": "Value",
                                  "type": "text"
                                }
                              ]
                            }
                          }
                        ]
                      }
                    },
                    {
                      "id": 16,
                      "module": "builtin:BasicRouter",
                      "version": 1,
                      "mapper": null,
                      "metadata": {
                        "designer": {
                          "x": 1852,
                          "y": -79
                        }
                      },
                      "routes": [
                        {
                          "flow": [
                            {
                              "id": 17,
                              "module": "regexp:HTMLToText",
                              "version": 1,
                              "parameters": {},
                              "mapper": {
                                "html": "<a href=\"\"></a>",
                                "newline": "lf",
                                "uppercaseHeadings": true
                              },
                              "metadata": {
                                "designer": {
                                  "x": 2103,
                                  "y": -252,
                                  "name": "Parse HTML",
                                  "messages": [
                                    {
                                      "category": "last",
                                      "severity": "warning",
                                      "message": "A transformer should not be the last module in the route."
                                    }
                                  ]
                                },
                                "restore": {
                                  "expect": {
                                    "newline": {
                                      "label": "LF (\\n) - Unix/Mac OS X"
                                    }
                                  }
                                },
                                "expect": [
                                  {
                                    "name": "html",
                                    "type": "text",
                                    "label": "HTML"
                                  },
                                  {
                                    "name": "newline",
                                    "type": "select",
                                    "label": "Line break",
                                    "required": true,
                                    "validate": {
                                      "enum": ["lf", "crlf", "cr"]
                                    }
                                  },
                                  {
                                    "name": "uppercaseHeadings",
                                    "type": "boolean",
                                    "label": "Uppercase headings",
                                    "required": true
                                  }
                                ],
                                "advanced": true
                              }
                            }
                          ]
                        },
                        {
                          "flow": [
                            {
                              "id": 18,
                              "module": "datastore:AddRecord",
                              "version": 1,
                              "metadata": {
                                "designer": {
                                  "x": 2165,
                                  "y": 107,
                                  "name": "Store some shjit",
                                  "messages": [
                                    {
                                      "category": "setup",
                                      "severity": "error",
                                      "message": "Value must not be empty."
                                    }
                                  ]
                                }
                              }
                            },
                            {
                              "id": 19,
                              "module": "builtin:BasicRouter",
                              "version": 1,
                              "mapper": null,
                              "metadata": {
                                "designer": {
                                  "x": 2475,
                                  "y": 143
                                }
                              },
                              "routes": [
                                {
                                  "flow": [
                                    {
                                      "id": 20,
                                      "module": "regexp:HTMLToText",
                                      "version": 1,
                                      "parameters": {},
                                      "mapper": {
                                        "html": "<a href=\"\"></a>",
                                        "newline": "lf",
                                        "uppercaseHeadings": true
                                      },
                                      "metadata": {
                                        "designer": {
                                          "x": 2726,
                                          "y": -30,
                                          "name": "Parse HTML"
                                        },
                                        "restore": {
                                          "expect": {
                                            "newline": {
                                              "label": "LF (\\n) - Unix/Mac OS X"
                                            }
                                          }
                                        },
                                        "expect": [
                                          {
                                            "name": "html",
                                            "type": "text",
                                            "label": "HTML"
                                          },
                                          {
                                            "name": "newline",
                                            "type": "select",
                                            "label": "Line break",
                                            "required": true,
                                            "validate": {
                                              "enum": ["lf", "crlf", "cr"]
                                            }
                                          },
                                          {
                                            "name": "uppercaseHeadings",
                                            "type": "boolean",
                                            "label": "Uppercase headings",
                                            "required": true
                                          }
                                        ],
                                        "advanced": true
                                      }
                                    },
                                    {
                                      "id": 25,
                                      "module": "builtin:BasicRouter",
                                      "version": 1,
                                      "mapper": null,
                                      "metadata": {
                                        "designer": {
                                          "x": 3039,
                                          "y": -38
                                        }
                                      },
                                      "routes": [
                                        {
                                          "flow": [
                                            {
                                              "id": 26,
                                              "module": "regexp:HTMLToText",
                                              "version": 1,
                                              "parameters": {},
                                              "mapper": {
                                                "html": "<a href=\"\"></a>",
                                                "newline": "lf",
                                                "uppercaseHeadings": true
                                              },
                                              "metadata": {
                                                "designer": {
                                                  "x": 3290,
                                                  "y": -211,
                                                  "name": "Parse HTML",
                                                  "messages": [
                                                    {
                                                      "category": "last",
                                                      "severity": "warning",
                                                      "message": "A transformer should not be the last module in the route."
                                                    }
                                                  ]
                                                },
                                                "restore": {
                                                  "expect": {
                                                    "newline": {
                                                      "label": "LF (\\n) - Unix/Mac OS X"
                                                    }
                                                  }
                                                },
                                                "expect": [
                                                  {
                                                    "name": "html",
                                                    "type": "text",
                                                    "label": "HTML"
                                                  },
                                                  {
                                                    "name": "newline",
                                                    "type": "select",
                                                    "label": "Line break",
                                                    "required": true,
                                                    "validate": {
                                                      "enum": [
                                                        "lf",
                                                        "crlf",
                                                        "cr"
                                                      ]
                                                    }
                                                  },
                                                  {
                                                    "name": "uppercaseHeadings",
                                                    "type": "boolean",
                                                    "label": "Uppercase headings",
                                                    "required": true
                                                  }
                                                ],
                                                "advanced": true
                                              }
                                            }
                                          ]
                                        },
                                        {
                                          "flow": [
                                            {
                                              "id": 27,
                                              "module": "datastore:AddRecord",
                                              "version": 1,
                                              "metadata": {
                                                "designer": {
                                                  "x": 3352,
                                                  "y": 148,
                                                  "name": "Store some shjit",
                                                  "messages": [
                                                    {
                                                      "category": "setup",
                                                      "severity": "error",
                                                      "message": "Value must not be empty."
                                                    }
                                                  ]
                                                }
                                              }
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "flow": [
                                    {
                                      "id": 21,
                                      "module": "datastore:AddRecord",
                                      "version": 1,
                                      "metadata": {
                                        "designer": {
                                          "x": 2788,
                                          "y": 329,
                                          "name": "Store some shjit",
                                          "messages": [
                                            {
                                              "category": "setup",
                                              "severity": "error",
                                              "message": "Value must not be empty."
                                            }
                                          ]
                                        }
                                      }
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 12,
                      "module": "google-email:sendAnEmail",
                      "version": 4,
                      "metadata": {
                        "designer": {
                          "x": 1624,
                          "y": 301,
                          "messages": [
                            {
                              "category": "setup",
                              "severity": "error",
                              "message": "Value must not be empty."
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          "flow": [
            {
              "id": 3,
              "module": "util:FunctionSleep",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "test fallback",
                "conditions": [
                  [
                    {
                      "a": "{{2.rowNumber}}",
                      "o": "text:equal",
                      "b": "2"
                    }
                  ]
                ]
              },
              "mapper": {
                "duration": "15"
              },
              "metadata": {
                "designer": {
                  "x": 606,
                  "y": 617,
                  "name": "Sleeper"
                },
                "restore": {},
                "expect": [
                  {
                    "name": "duration",
                    "type": "uinteger",
                    "label": "Delay",
                    "validate": {
                      "min": 1,
                      "max": 300
                    },
                    "required": true
                  }
                ]
              }
            },
            {
              "id": 13,
              "module": "builtin:BasicRouter",
              "version": 1,
              "mapper": null,
              "metadata": {
                "designer": {
                  "x": 883,
                  "y": 607
                }
              },
              "routes": [
                {
                  "flow": [
                    {
                      "id": 14,
                      "module": "regexp:HTMLToText",
                      "version": 1,
                      "parameters": {},
                      "mapper": {
                        "html": "<a href=\"\"></a>",
                        "newline": "lf",
                        "uppercaseHeadings": true
                      },
                      "metadata": {
                        "designer": {
                          "x": 1134,
                          "y": 434,
                          "name": "Parse HTML",
                          "messages": [
                            {
                              "category": "last",
                              "severity": "warning",
                              "message": "A transformer should not be the last module in the route."
                            }
                          ]
                        },
                        "restore": {
                          "expect": {
                            "newline": {
                              "label": "LF (\\n) - Unix/Mac OS X"
                            }
                          }
                        },
                        "expect": [
                          {
                            "name": "html",
                            "type": "text",
                            "label": "HTML"
                          },
                          {
                            "name": "newline",
                            "type": "select",
                            "label": "Line break",
                            "required": true,
                            "validate": {
                              "enum": ["lf", "crlf", "cr"]
                            }
                          },
                          {
                            "name": "uppercaseHeadings",
                            "type": "boolean",
                            "label": "Uppercase headings",
                            "required": true
                          }
                        ],
                        "advanced": true
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 15,
                      "module": "datastore:AddRecord",
                      "version": 1,
                      "metadata": {
                        "designer": {
                          "x": 1196,
                          "y": 793,
                          "name": "Store some shjit",
                          "messages": [
                            {
                              "category": "setup",
                              "severity": "error",
                              "message": "Value must not be empty."
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 5,
      "maxErrors": 7,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "slots": null,
      "confidential": true,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com",
    "notes": []
  }
}
